doctype html
html(lang='en')
  head
    title mongodb.land
    link(rel='stylesheet', href='index.css')
    link(rel='icon', href='img/favicon.gif')
  body
    #app
      .MONGO
        img(src="img/drunkhulk.gif")

      .project
        h2 gist.mongodb.land

        ul.description
          LI mongo no like random untested javascripts in jira tickets
          LI mongo want version control, sharing, syntax highlighting, search, community, testing, for scripts mongo
          LI mongo know richard kreutzer and many others want this

        h3 to help
        ul.help
          li pass along scripts and mongo shell helpers you have hidden under a rock

  script(src='index.js')

