doctype html
html(lang='en')
  head
    title mongodb.land
    link(rel='stylesheet', href='index.css')
    link(rel='icon', href='img/favicon.gif')
  body
    #app
      .MONGO
        img(src="img/drunkhulk.gif")

      .project
        include:markdown index.md



  script(src='index.js')

